/*************************************************************************************【Basic style】/
/*Basic style*/
* {
    box-sizing: border-box;
}
body {
    overflow-x: hidden; /*Fix header img overflow*/
    font-family: Meiryo, "Meiryo UI", "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif !important;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/*************************************************************************************【Nav style】/
/*Nav style*/
#nav {
    padding: 0;
    border-bottom: 1px solid rgba(50,50,50,0.05);
    padding-left: 2em;
    padding-right: 4em;
    position: relative;
}
#nav > .row {
    margin: 0;
}
.navLogo, .nav_pages {
    vertical-align: top;
}
.nav_logo {
    cursor: pointer;
}
.navUl {
    padding: 0;
    margin: 0;
}
.navUl > a {
    color: rgba(130,133,135,1);
    float: right;
}
.navUl > a:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
}
.navLi {
    display: inline-block;
    text-decoration: none;
    font-family: "Open Sans",​arial,​sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    color:rgb(255,​ 255,​ 255);
    text-transform: capitalize;
    text-decoration: none;  
    line-height: 20px;
    padding-top: 35px;
    padding-right: 20px;
    padding-bottom: 35px;
    padding-left: 20px;
}
.navLi:hover {
    background-color: rgba(118,204,30,1);
}
/*************************************************************************************【Header style】/
/*basic style*/
#header_wrapper {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(50,50,50,0.1);
}
#header_left, #header_right {
    height: 25em;
}
#header_left {
    padding: 2% !important;
    text-align: center;
}
#header_right {
    padding-left: 6%;
}
#header_right > article > h3 {
    display: block;
    padding-left: 5%;
    padding-top: 10%;
    font-size: 1.9em;
}
#header_right > article > p > span {
    display: inline-block;
    font-size: 1.1em;
    margin-top: 0.8%;
    padding-left: 5%;
}
/*animation style*/
.fade_in_left {
    animation: animateLeft 2s;
    -moz-animation: animateLeft 2s; 
    -webkit-animation: animateLeft 1s; 
}
.fade_in_right {
    animation: animateRight 1s;
    -moz-animation: animateRight 1s; 
    -webkit-animation: animateRight 1s; 
    -o-animation: animateRight 1s; 
}
@keyframes animateLeft {
    from { opacity:0; left: -100px; } 
    to { opacity:1; left: 0; }
}
@-moz-keyframes animateLeft { 
    from { opacity:0; right: -100px; }
    to {  opacity:1; right: 0; }
}
@-webkit-keyframes animateLeft { 
    from { opacity: 0; right: -100px; }
    to { opacity:1; right: 0; }
}
@-o-keyframes aninateLeft{ 
    from { opacity:0; right: -100px; }
    to { opacity: 1; right: 0; }
}
@keyframes animateRight {
    from { opacity:0; left: -100px; } 
    to { opacity:1; left: 0; }
}
@-moz-keyframes animateRight {
    from { opacity:0; left: -100px; }
    to {  opacity:1; left: 0; }
}
@-webkit-keyframes animateRight {
    from { opacity: 0; left: -100px; }
    to { opacity:1; left: 0; }
}
@-o-keyframes aninateRight{ 
    from { opacity:0; left: -100px; }
    to { opacity: 1; left: 0; }
}




/*************************************************************************************【Steps style】/
/*step style*/
#steps {
    margin-bottom: 8%;
}
.title_wrapper {
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 3%;
}
.title_wrapper > img {
    margin-left: -15px;
    margin-bottom: -10px;
}
.steps_img {
    width: 100%;
    margin-bottom: 2%;
}
.img_detail {
    margin: 0 auto;
    text-align: center;
}
.img_detail > i {
    cursor: pointer;
}
.img_detail > h4 {
    font-weight: 500;
    font-size: 1.5em;
}
.img_detail > p {

}
.yogo_btn {
    border: 1px solid rgba(50,50,50,0.1);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    z-index: 999;
    box-shadow: 1px 1px 2px rgba(50,50,50,0.1);
    overflow: hidden; 
    cursor: pointer;
    margin-bottom: 6%;  
    margin-top: -10px;
    cursor: pointer;
    -webkit-animation: bigger 1.5s infinite; /* Safari 4+ */
    -moz-animation:    bigger 1.5s infinite; /* Fx 5+ */
    -o-animation:      bigger 1.5s infinite; /* Opera 12+ */
    animation:         bigger 1.5s infinite; /* IE 10+, Fx 29+ */
}
@-webkit-keyframes bigger {
    0% {width: 40px; height: 40px; color: rgba(50,50,50,0.5); }
    100% {width: 60px; height: 60px; color: rgba(50,50,50,0.9);}
}
@-moz-keyframes bigger {
    0% {width: 40px; height: 40px; color: rgba(50,50,50,0.5); }
    100% {width: 60px; height: 60px; color: rgba(50,50,50,0.9);}
}
@-o-keyframes bigger {
    0% {width: 40px; height: 40px; color: rgba(50,50,50,0.5); }
    100% {width: 60px; height: 60px; color: rgba(50,50,50,0.9);}
}
@keyframes bigger {
    0% {width: 40px; height: 40px; color: rgba(50,50,50,0.5); }
    100% {width: 60px; height: 60px; color: rgba(50,50,50,0.9);}
}




/*************************************************************************************【Pors style】/
/*pros style*/
#pro {
    margin-bottom: 5%;
    padding-bottom: 5%;
    border-bottom: 1px solid rgba(50,50,50,0.1);
}
/*sheet pros*/
#pro_tabs {
    padding-left: 20%;
    margin-top: -2%;
}
.pro_tabs_outline {
    padding: 5%;
    padding-right: 8%;
    padding-left: 8%;
    border-radius: 3px;
    cursor: pointer;
}
.pro_tabs_outline:hover {
    transition: 0.3s;
    background-color: rgba(118,204,30,0.1);
}
.pro_tabs_outline:hover > h4 {
    color: rgba(118,204,30,0.8);
    font-weight: 550;
}
.pro_tabs_outline > h4 {
    margin-bottom: 0px;
}
.pro_tabs_outline > p > span {
    display: inline-block;
    margin-top: 5px;
    text-shadow: 1px 1px 1px rgba(30,30,30,0.1);
}
.pro_media {

}
.tab-content {
    position: relative;
    height: 35em;
    padding-left: 5%;
    background: url(http://i.imgur.com/TI1wKhH.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pro_imgs {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    border: 2px solid rgba(50,50,50,0.8);
}
#unit {
    position: absolute;
    top: 0;
}
#goal {
    position: absolute;
    top: 15em;
    left: 30em;
}
#local {
    position: absolute;
    top: 20em;
}
/*email pro*/
.email_media {
    height: 100%;
    width: 100%;
}
.mail_content {
    padding-right: 10% !important;
    padding-top: 10% !important;
    padding-left: 10% !important;
}
.mail_content h4 {
    font-weight: 550;
    color: rgba(118,204,30,0.8);
    text-shadow: 1px 1px 1px rgba(30,30,30,0.1);
}
.mail_content p  span {
    display: inline-block;
    margin-top: 5px;
    text-shadow: 1px 1px 1px rgba(30,30,30,0.1);
}




/*************************************************************************************【Get style】/
/*Get style*/
#get {
    text-align: center;
}
.get_wrapper {
    border: 2px solid rgba(50,50,50,0.3);
    border-radius: 5px;
    margin-bottom: 5em;
    text-align: center;
    padding: 3%;
}
.project_btn {
    background: rgba(118,204,30,1);
    color: white;
    border-radius: 3px;
    font-weight: 500;
    width: 8em;
    height: 5em;
    padding: 1em 3em;
    line-height: 50px;
}
.project_btn:hover {
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 3px rgba(50,50,50,0.4);
    transition: 0.3s;
}




/*************************************************************************************【Footer style】/
/*footer style*/
#footer {
    background-color: rgba(64,64,64,1);
    color: rgba(153,153,153,1);
    font-size: 12px;
    line-height: 20px;
    padding: 1.6% !important;
    padding-bottom: 1% !important;
}
#footer > p > a {
    color: rgba(118,204,30,1);
}
#footer > p > a:hover {
    color: rgba(52,90,13,1);
    text-decoration: none;
}
